/*
TABLE OF CONTENTS
General
Sticky Footer

*/

/*
GENERAL
============================================ */
#logo {
    height: 40px;
    width: 120px;
    display: block;
}

.navbar-brand {
    padding-top: 5%;
    padding-left: 10%;
}

/*
STICKY NAV BAR
============================================ */
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}


/*
STICKY FOOTER
============================================ */

html, body {
            height: 100%;
        }
        
footer {
    color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;    
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
        }
        .push {
            height: 63px;
        }
        /* not required for sticky footer; just pushes hero down a bit */
        .wrapper > .container {
            padding-top: 60px;
        }
 
        /* responsive footer fix by Aalaap Ghag */
        @media (max-width: 767px) {
            body {
                padding-right: 0px;
                padding-left: 0px;
            }
    
            footer, .wrapper {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
 
        .container {
            max-width: 940px;
        }